/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.About-lvm{
  background-color: black!important;
}



/* ---------- BANNER ---------- */
.lvm-ban {
  height: 60vh;
  min-height: 500px;
  /* background:
    url("/contact-bg.jpg") center/cover no-repeat; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
  margin-top: -170px;
  box-shadow: var(--shadow-lg);
  animation: fadeUp 0.9s ease;
    color: white!important;
    
}

.lvm-banner-title {
  font-size: 38px;
  font-weight: 900;

  letter-spacing: 1px;
  animation: fadeIn 1.2s ease;
  padding-top: 140px;
}

/*  */