  /* Main section container */
.mission-section {
  margin-top: -150px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  min-height: 550px;
  margin: 70px 0;
  background: #c4120a;
}

/* LEFT IMAGE */
.mission-left {
  flex: 1;
}

.mission-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

/* RIGHT CONTENT */
.mission-right {
  flex: 1;
  padding: 50px 60px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* Ensures content height matches image */
}

/* Each content box */
.mission-box {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.mission-box h3 {
  font-size: 22px;
  margin-bottom: 6px;
  font-weight: 700;
}

.mission-box p {
  color: #f5f5f5;
  line-height: 1.5;
}

/* ICONS */
.mission-icon {
  font-size: 36px;
  color: #fff;
  min-width: 50px;
}

/* Divider line */
.line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.35);
  margin: 20px 0;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .mission-section {
    flex-direction: column;
  }

  .mission-right {
    padding: 40px 25px;
  }

  .mission-left img {
    width: 100%;
    height: 350px;
    
  }
}