/* ===============================
   SECTION BASE
=================================*/
.why-section {
  width: 100%;
  padding: 90px 0;
  background: #ffffff;
  text-align: center;
   background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url("../assets/background.png") center/cover no-repeat!important;
    border-top: 2px solid orange;
}

/* ===============================
   TITLES
=================================*/
.why-subtitle {
  color: white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 12px;
}

.why-title {
  font-size: 38px;
  font-weight: 800;
  color: white;
  line-height: 1.35;
  margin-bottom: 70px;
}

.why-title span {
  color: white;
}

/* ===============================
   GRID
=================================*/
.why-grid {
  width: 92%;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  
}

/* ===============================
   CARD
=================================*/
.why-card {
  position: relative;
  background: #ffffff;
  border-radius: 22px;
  padding: 65px 30px 45px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.06);
  transition: all 0.35s ease;
    border: 2px solid orange;
}

.why-card:hover {
  box-shadow: 0 20px 50px rgba(209, 0, 0, 0.22);
  transform: translateY(-8px);
}

/* ===============================
   ICON
=================================*/
.why-icon {
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 34px;
  box-shadow: 0 12px 30px orange;
  transition: all 0.35s ease;
  
}

.why-card:hover .why-icon {
  transform: translateX(-50%) scale(1.08) rotate(6deg);
  box-shadow: 0 18px 45px rgba(209, 0, 0, 0.55);
}

/* ===============================
   TEXT
=================================*/
.why-card-title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 14px;
}

.why-card-desc {
  color: #666;
  font-size: 15px;
  line-height: 1.75;
}

/* ===============================
   RESPONSIVE
=================================*/
@media (max-width: 1100px) {
  .why-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .why-title {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .why-grid {
    grid-template-columns: 1fr;
    gap: 55px;
  }

  .why-card {
    padding: 65px 25px 40px;
  }

  .why-title {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .why-title {
    font-size: 24px;
  }

  .why-icon {
    width: 75px;
    height: 75px;
    font-size: 30px;
  }

  .why-card-title {
    font-size: 18px;
  }
}
